<h1>New User</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 chart">
    <%= form_for(@user) do |f| %>
      <%= f.label :name , class: 'form-text' %>
      <%= f.text_field :name, class: 'form-control'%>

      <%= f.label :email, class: 'form-text'  %>
      <%= f.email_field :email , class: 'form-control'%>

      <%= f.label :password , class: 'form-text'%>
      <%= f.password_field :password , class: 'form-control'%>

      <%= f.label :password_confirmation, "Confirmation" , class: 'form-text'%>
      <%= f.password_field :password_confirmation , class: 'form-control'%>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', users_path %>
